body {
  background-color: lightyellow;
  font-family: Sans-Serif;
}

#wrapper {
  width: 65em;
  margin: 0 auto;
  background-color: #fff;
}

#header {
  background-color: #3b597d;
  margin: 0;
  padding: 1em;
  color: #fff;
}

#main {
  background-color: #fff;
  padding: 1em;
  width: 48em;
  float: left;
}

#sidebar {
  background-color: #d68051;
  padding: 1em;
  width: 13em;
  float: right;
}

#footer {
  background-color: #3b597d;
  margin: 0;
  padding: 1em;
  color: #fff;
  clear: both;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

#sidebar ul li {
  display: inline-block;
  width: 95%;
  height: 40px;
  line-height: 40px;
  font-size: 130%;
  padding: 5px;
  margin-bottom: 5px;
  background: #3b597d;
  background: -webkit-gradient(
    linear,
    0 0,
    0 bottom,
    from(#1d2c3e),
    to(#3b597d)
  );
  background: -webkit-linear-gradient(#1d2c3e, #3b597d);
  background: -moz-linear-gradient(#1d2c3e, #3b597d);
  background: -ms-linear-gradient(#1d2c3e, #3b597d);
  background: -o-linear-gradient(#1d2c3e, #3b597d);
  background: linear-gradient(#1d2c3e, #3b597d);
  border: 1px solid #1d2c3e;
  border-radius: 2px;
  font-weight: bold;
}

#sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
}

.alignright {
  float: right;
  padding: 0 0 1em 1em;
}
.alignleft {
  float: left;
  padding: 0 1em 1em 0;
}
.aligninline {
  display: block;
  padding: 0.5em 0 2em 0;
}
.textright {
  text-align: right;
}
.textcenter {
  text-align: center;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}
